@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black: #000;
    --accent: #ac8059;
    --light: #f4f7f8;
    --grey: #c0c0c0;
    --white: #fff;
}

body{
    background:var(--black);
    margin:0;
    padding:0;
}

a{
    color:var(--light) !important;
    outline:none !important;
    transition:all ease-in-out 0.3s;
}

a:focus{
    color:var(--accent) !important;
}

a:hover{
    color:var(--accent) !important;
    transition:all ease-in-out 0.3s;
}


.row{
    margin-right:0 !important;
    margin-left:0 !important;
}

button{
    background: transparent !important;
    border:none !important;
    border-bottom:2px solid var(--accent) !important;
}

button:focus{
    outline:none;
}


.header{
    width:100%;
    position:fixed;
    height:70px;
    top:0;
    z-index:90;
    transition:all ease-in-out 1s;
}

.activeheader{
    background:var(--black);
    transition:all ease-in-out 0.3s;
    -webkit-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.3);
}

.jContainer{
    position: relative;
    display:block;
    height:100vh;
    width:100%;
}

.landing{
    background: url(assets/imgs/landing.png) center center no-repeat;
    background-size:cover;
}

.startposition{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:20%;
}

.title{
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:40pt;
    width:60%;
    color:var(--light);
}

.accentdot{
    color:var(--accent);
}

.cta{
    margin-top:10px;
    height:fit-content;
    padding:15px;
    color:var(--accent);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size:10pt !important;
    transition: all ease-in-out 0.3s;
}

.cta:hover{
    cursor: pointer;
    border-bottom:2px solid var(--accent) !important;
    color:var(--black);
    background:var(--accent) !important;
    -webkit-box-shadow: 0px 10px 26px -8px rgba(212,212,212,0.08);
    -moz-box-shadow: 0px 10px 26px -8px rgba(212,212,212,0.08);
    box-shadow: 0px 10px 26px -8px rgba(212,212,212,0.08);
    transition: all ease-in-out 0.5s;
}

#btnAbout{
    text-align:center;
}

.aboutmesection{
    position: absolute;
    top:50%;
    left:50% !important;
    transform:translate(-50%,-55%);
    text-align: center;
}

#btnLetsTalk{
    text-align: center;
}

.btnplacement{
    width:100%;
    text-align: center;
}

.myvideo{
    width:80vw;
    height:fit-content;
}

#ifmyvideo{
    width: 80vw !important;
     height: 70vh !important;
}



.show{
    display:block !important;
}

.overflowhide{
    overflow:hidden !important;
}

.contactmesection{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align:center;

}

h5{
    color:var(--light);
    font-family: 'Roboto', sans-serif;
    font-weight:200;
}

.separator{
    width:100px;
    height:2px;
}

.sociallinks{
    color:var(--light);
    position: relative;
    left:50%;
    transform:translateX(-50%);
    transition:all ease-in-out 0.5s;
}

.sociallinks div{
     margin-top:15px;
    font-size: 20pt;
    display: inline-block;
    padding:20px;
}

.sociallinks div:hover{
    color:var(--accent);
    cursor: pointer !important;
    transition:all ease-in-out 0.3s;
}


p{
    font-family: "Roboto", "sans-serif";
    font-size:10pt;
    text-align: center;
    color:var(--grey);
    height:100% !important;
    line-height: 70px;
    transition:all ease-in-out 0.2s;
    width:200px;
    position: absolute;
    right:10px;
}

p:hover{
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
    color:var(--accent);
    transition:color ease-in-out 0.3s;
}


.activep{
    border-bottom: 2px solid var(--accent);
    cursor: pointer;
    color:var(--accent);
}

.pforplay{
    background: var(--accent) !important;
    color:var(--black) !important;
}

.player{
    position:fixed;
    z-index: 80;
    top:-100vh;
    display:none;
    animation: showplayer 2s ease backwards !important;
    height:100vh;
}

.playercover{
    position:fixed;
    z-index: -5;
    width:100vw;
    opacity:0;
    transition: all 1s ease-in-out;
    height:100vh;
    background: rgba(0,0,0,0.3);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
}

.displaycover{
    opacity:1 !important;
    z-index:79 !important;
    transition: all 1s ease-in-out;
}

.showplayeraction{
    animation: showplayer 1.5s ease forwards !important;
    display:block !important;
}

.hideplayeraction{
    animation: hideplayer 1s ease forwards !important;
    display:hidden !important;
}

.playerframe{
    width:100vw;
    height:65vh !important;
}


.toTop{
    position: fixed;
    bottom:20px;
    right:20px;
    padding:15px 18px 15px 18px;
    background: var(--light);
    color: var(--black);
    text-align: center;
    transition:all ease-in-out 1s;
    opacity:0.1;
    display:none;
}

.toTop:hover{
    background: var(--accent);
    color: var(--black);
    opacity:1;
    transition:all ease-in-out 1s;
    cursor: pointer;
}

@keyframes showplayer{

        0% {
            top: -100vh;
        }
        100%{
            top: 67px;
        }
      
      
}

@keyframes hideplayer{

    0% {
        top: 67px;
    }
    100%{
        top: -100vh;
    }
  
  
}

@media only screen and (max-width: 600px) {}


@media only screen and (min-width: 600px) {}


@media only screen and (max-width: 768px) {
}


@media only screen and (max-width: 992px) {
    .title{
        font-size:30pt;
    }

    .sociallinks div{
        padding:10px;
    }

    p{
        font-size:7pt;
    }

    p{
        width:150px;
    }

    .landing{
        background: url(assets/imgs/landing-mobile.png) center center no-repeat !important;
        background-size:cover !important;
    }

    #ifmyvideo{
        width: 80vw !important;
         height: 40vh !important;
    }

    p:hover{
        border-bottom: none !important;
        color:var(--grey) !important;
    }
}


@media only screen and (min-width: 1200px) {}